<p>Hi <%= @user.name %>,</p>

<h1>Thank you for signing up to The Good Style!</h1>
<%= image_tag('http://res.cloudinary.com/borisj/image/upload/c_scale,w_800/v1522236011/The%20Good%20Style/carousel1.jpg') %>

<p>We hope you found clothing that fit your style</p>
