.log-in {
  display: flex;
  justify-content: center;
}

.log-in-container {
  width: 50vw;
  position: center;
  h2 {
    text-align: center;
    font-size: lighter;
    color: #155061;
  }
}

.form-options {
  margin-top : 8px;
  margin-bottom: 8px;
}
