.sign-up {
  display: flex;
  justify-content: center;
}

.sign-up-container {

  width: 50vw;
  position: center;
  h2 {
    font-size: lighter;
    color: #155061;
  }
  p {
    font-size: lighter;
    color: #155061;
  }
}

.form-options {
  margin-top : 8px;
  margin-bottom: 8px;
}

.fa-heart {
  color: #F0B917;
  margin-right: 5px;
}

