<div class = "card text-center">
<div class="card-image-container" style="background-image:url(https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg); " alt="cart">
  </div>
  <div class="card-text">
    <h3>A beautiful dress</h3>
    <h4>45 €</h4>
  </div>
</div>
