<div class = "card text-center">
<div class="card-image-container" style="background-image:url(https://cdn.shopify.com/s/files/1/1193/3548/products/Siizu_SS2016_catalogue_part1_119_0111d024-4afd-4f82-a437-015459632c66_1024x1024.jpg?v=1517715222); " alt="cart">
  </div>
  <div class="card-text">
    <h3><%=@product.name%></h3>
    <h4><%=@product.price €%></h4>
  </div>
</div>
