<div class="social">
  <div>
    <span>

      <i class="icon fab fa-facebook-square"></i>
      <i class="icon fab fa-instagram"></i>
      <i class="icon fab fa-twitter"></i>
      <i class="icon fab fa-linkedin"></i>
      <i class="icon fab fa-youtube"></i>
      <i class="icon fab fa-github"></i>

    </span>
  </div>
</div>

<br>
<br>

<div class="container footer-container">
  <div class="row">

     <div class="col-xs-6 col-md-4 col-lg-3 footer-spacing">
      <p class="footer-h1">PRODUCTS</p>

      <p class="footer-h2">FOR MEN</p>
      <p class="footer-h2">FOR WOMEN</p>
      <p class="footer-h2">FOR KIDS</p>

    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 footer-spacing">
      <p class="footer-h1">ABOUT</p>

      <p class="footer-h2">CORPORATE</p>
      <p class="footer-h2">OUR HISTORY</p>

    </div>

    <div class="col-xs-6 col-md-4 col-lg-3 footer-spacing">
      <p class="footer-h1">SUPPORT</p>
      <p class="footer-h2">CONTACT US</p>
    </div>

      <div class="col-xs-6 col-md-4 col-lg-3 footer-spacing">
      <p class="footer-h1">INSPIRATION</p>

      <p class="footer-h2">NEWS</p>
      <p class="footer-h2">EVENTS</p>
      <p class="footer-h2">OUR AMBASSADORS</p>
    </div>


  </div>
</div>
<br>
<br>
<h6>© THE GOOD STYLE 2018</h6>
