<%= render "shared/banner" %>

<a href="#S1">

    <div class="seemore"><i class="fas fa-long-arrow-alt-down"></i>SEE MORE<i class="fas fa-long-arrow-alt-down"></i></div>
</a>


<div id='S1' class="container">
  <div class="audience-container">
    <div class="row">
      <%  @target_audiences.each do |audience|  %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to "/#{audience.gender}" do  %>
        <div class = "card-audience" style="background-image: url( <%= audience.target_photo %> );">
          <div class= "card-audience-text">
            <h2> <%= audience.gender.upcase %></h2>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<div class="sustainability-info" id="S2">
  <div class="sustainability-info-container">
    <br>
    <a href="#S2"><h3>WHAT IS THE GOOD STYLE?</h3></a>
    <br>
    <p>
      We are a young and passionate group of humans, designers and developers who aim to offer a platform to small sustainable brands, where they can be discovered by you, the client looking for 'better' clothes. The fashion retail industry is really messed up, and we can't change that overnight. But together we can have our own little protest against the big fast fashion chains.
    </p>
    <br>
    <p>
      We value every product on the following criteria. You will find out how a single item scores on each of these by hovering over the corresponding icons in the product overview.
    </p>
    <br>
    <div class="row">
      <div class="infobox">
        <div class="subinfobox text-left">

          <div class = "infodetail">
            <div class="infodetailleft">
              <img src="http://res.cloudinary.com/megednazednav/image/upload/v1522679976/thread.svg" alt="material" style="width: 60px;">
            </div>
            <div class="infodetailright">
               <p>MATERIALS</p><p>Only organic cotton is used in the creation of products featured on this website, ensuring top quality softness and cuddliness!</p>
            </div>
          </div>
          <div class = "infodetail">
            <div class="infodetailleft">
              <img src="http://res.cloudinary.com/megednazednav/image/upload/v1522679976/sewing-machine_4.svg" alt="sewing machine" style="width: 60px;">
            </div>
            <div class="infodetailright">
              <p>WORKPLACE</p><p>All our articles were created by small designers in the hopes of increasing their visibility on the marketplace.</p>
            </div>
          </div>
        </div>

        <div class="subinfobox text-left">
          <div class = "infodetail">
            <div class="infodetailleft">
              <img src="http://res.cloudinary.com/megednazednav/image/upload/v1522679977/truck-icon.svg" alt="transport" style="width: 60px;">
            </div>

            <div class="infodetailright">
              <p>TRANSPORT</p><p>All of our products are created in Europe, in order to reduce the impact of heavy transporting activities on the environment.</p>
            </div>
          </div>
          <div class = "infodetail">
            <div class="infodetailleft">
              <img src="http://res.cloudinary.com/megednazednav/image/upload/v1522679976/happy-man.svg" alt="people" style="width: 60px;">
            </div>
            <div class="infodetailright">
              <p>PEOPLE</p><p>All participants in the design and creation of an article received at the very least the minimum legal wage applicable in their respective countries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
