/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  width: auto;
  background: #3A9271;
  position: absolute;
  top: 815px;
  left: 42vw;
}
.alert-warning {
  width: auto;
  background: #ECAD34;
  position: absolute;
  top: 815px;
  left: 42vw;
}

