.card-audience {
  height: 550px;
  width: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;
}

.card-audience-text {
  position: absolute;
  bottom: 0px;
  height : 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.8;
}

