.audience-container {
}

.card-audience {
  height: 550px;
  width: 350px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;

  &:hover {
    opacity: 0.9;
    border-radius: 10px;
  }
}

.card-audience-text {
  position: absolute;
  bottom: 0px;
  height : 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #155162;
  opacity: 0.7;
}

