.card {
  background-color: white;
  height: 450px;
  margin-bottom: 30px;
}

.card-image-box {
  height: 350px;
}

.card-image-container {
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
  transition: all .2s ease-in-out;
}

.card-image-container:hover {
  transform: scale(1.03);
}

.card-text h3 {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.card-text.index {
  background-color: white;
  padding-bottom: 15px;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
