.carousel-inner .item {
  height: calc(100vh - 108px);
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 108px);
}

.carousel-inner {
    width: 100vw;
}

.carousel-image {
  background-size: cover;
}

.carousel-logo {

}

.carousel-button {
  width: 100vw;
  height: 54px;
  background-color: #155061;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  &:hover {
    background-color: #0F3C49;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
