.card {
  background-color: white;
  height: 450px;
  margin-bottom: 30px;
}

.card-image-container {
  height: 350px;
  background-size: cover;
  background-position: 50% 50%;
}

.card-text h3 {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.card-text h4 {
  font-size: 18px;
  font-weight: 300;
  color: black;
}

