.container-shopping-cart {
width: 900px;
margin: 0 auto;
}

.main-shoppingcart {
  display: inline-block;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  }

.selection {
  display: flex;
  background-color: white;
  margin: 20px;

}

.row-shopping-cart {
  padding: 10px;
}

.shopping-cart-items {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  height: 160px;
  width: 100%;
  border-top : 0.3px solid #155162;
  border-bottom: 0.3px solid #155162;
  margin-bottom: 10px;
}

.order-summary {
  display: flex;
  background-color: white;
}

.shopping-cart-image {
  height: 150px;
  background-size: cover;
}

.shopping-cart-info {
  display: flex;
}

.shopping-cart-quantity {
  display: flex;
}

.shop-price {
  display: flex;
}

.order-summary {
  display:flex;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.shopping-cart-imagebox {
  margin: 0 25px;
  width: 150px;
}
