.container-shopping-cart {
    display: flex;
}

.grid-shoppingcart {
    display: grid;
    background-color: white;
    height: auto;
    width: 100000px;
    margin-bottom: 30px;
    margin-top: 30px;
    grid-template-columns: 33% 25% 25% 17%;
    grid-template-rows: auto;
  }

.row-shopping-cart-items {
    display: flex;

}
.selection{
    display: flex;
    flex-direction: column;
}


.col-shopping-cart-image {
    display: flex,

}

.col-shopping-cart-info {
    display: flex;
}

.col-shopping-cart-quantity {
    display: flex;
}

.col-shopping-cart-price {
    display: flex;
}

.col-order-summary {
    display: grid;
    top: 0;
    margin-left: 40px;
}