

<div class="information">
  <% @sustainability_infos.each do |info| %>
  <div class="paddingsust">
<span class="sustainability-infos">
  <% info.rating.to_i.times do %>
    <%= image_tag info.icon, width: "22px" %>
<% end %>
  <% (5 - info.rating.to_i).times do %>
  <%= image_tag info.icon_pale, width: "22px" %>
<% end %>


<span class="popover above"><%= info.sustainability_class.upcase %><br><%= info.description %></span>
<br>
</span>
</div>
  <% end %>
</div>


