<div class="infodiv text-center">
<div class="infotitle"><p>How sustainable is this piece?</p></div>
<div class="information">
<% @sustainability_infos.each do |info| %>
<span class="sustainability-infos">
<%= image_tag info.icon, height: "50px" %>
<span class="popover above"><%= info.sustainability_class.upcase %><br><%= info.description %></span>
<br>
</span>
  <% end %>
</div>
</div>
